@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'Montserrat1';
  src: local('Montserrat'), url(./Montserrat-Regular.ttf) format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.content {
  font-family: 'Montserrat1', sans-serif;
}
* {
  box-sizing: border-box;
}
.border-1 {
  border-width: 1px;
}
.border-l-1 {
  border-left-width: 1px;
}
.border-r-1 {
  border-right-width: 1px;
}
.border-t-1 {
  border-top-width: 1px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.container-fix {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.pt-50t {
  padding-top: 50%;
}
.ml--23 {
  margin-left: -92px;
}
.mt-23 {
  margin-top: 92px;
}
.max-w-270px {
  max-width: 270px;
}
.max-h-270px {
  max-height: 270px;
}
.box {
  /* position: relative;
  width: 100%;
  padding-top: 56.25%; */
}
.box__inner {
  /* Các thuộc tính sau giúp inner bám mép của khung .box */
  /* position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%; */
  /* Các thuộc tính sau giúp cân giữa block text bên trong, nếu có */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
@media (min-width: 768px) {
  .md\:max-w-270px {
    max-width: 270px;
  }
  .md\:max-h-270px {
    max-height: 270px;
  }
  .md\:ml--23 {
    margin-left: -92px;
  }
  .md\:pt-50t {
    padding-top: 50%;
  }
  .md\:pt-15t {
    padding-top: 15%;
  }
  .md\:pt-20t {
    padding-top: 20%;
  }
  .md\:mr--10t {
    margin-right: -10%;
  }
  .md\:mt-23 {
    margin-top: 92px;
  }
  .md\:max-w-970px {
    max-width: 970px;
  }
  .md\:bg-black.animation.khoa {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    animation-name: header;
    background-color: black;
  }
  @keyframes header {
    0% {background-color: transparent;}
    100% {background-color: black;}
  
  }
  .md\:bg-transparent.animation2.khoa {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-name: header1;
    background-color: transparent;
  }
  @keyframes header1 {
    from {background-color: black;}
    to {background-color: transparent;}
  
  }
}
.parent-img-ga {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 70% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}
 
.parent-img-ga img, .parent-img-bl img  {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}
.parent-img-bl {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 51% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}
 


@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  animation: donut-spin 1.2s linear infinite;
}
.tab-product.active {
  border-bottom: 2px solid #000000;

}
p {
  padding-bottom: 16px;
}
/* -- */
body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  /* height: 300px; */
  /* max-height: 100vh; */
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}
.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 59px;
  height: 59px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  /* fill: #fff; */
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  /* fill: rgba(255, 255, 255, 0.5); */
}

/* // */
.mb-full {
  margin-bottom: 100%;
}
.mt-full {
  margin-top: 100%;
}
.styled-select select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}
.change-popup {
  display: none;
  min-width: 8rem
}
.change-popup .lang:hover {
  background-color: #c5c5c5;
}
.change-lang:hover ~ .change-popup, .change-popup:hover {
  display: block;
  box-shadow: 0 1px 10px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 14%), 0 2px 4px rgb(0 0 0 / 20%);
}
.hover_pr_keep, .hover_pr_keep_de_keep, .visit_pr_keep {
  display: none;
}
.hover_pr:hover ~ .hover_pr_keep, .hover_pr_keep:hover  {
  display: block;
  /* box-shadow: 0 1px 10px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 14%), 0 2px 4px rgb(0 0 0 / 20%); */
}
.hover_pr_keep_de:hover ~ .hover_pr_keep_de_keep, .hover_pr_keep_de_keep:hover {
  display: block;
}
.visit_pr:focus ~ .visit_pr_keep, .visit_pr_keep:focus {
  display: block;
}
.noti-cart.add {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: example;
  animation-duration: 0.6s;
}
@keyframes example {
  40% {
    transform: scale(1.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.90);
    opacity: 1;
  }
  /* 85% {
    transform: scale(1);
    opacity: 1;
  }   */
  90% {
    transform: scale(1.1);
    opacity: 1;
  } 
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.py-0-5 {
  padding-top: 2px;
  padding-bottom: 2px
}
.px-1-5 {
  padding-left: 6px;
  padding-right: 6px;
}


.model-view-cart {
  opacity: 0;
  z-index: 1000;
  animation-name: modelcart;
  animation-duration: 6s;
  -webkit-box-shadow: 0 1px 10px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 14%), 0 2px 4px rgb(0 0 0 / 20%);
  box-shadow: 0 1px 10px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 14%), 0 2px 4px rgb(0 0 0 / 20%);
  transform: translateY(-300px);
}
@keyframes modelcart {
  1% {
    opacity: 1;
    z-index: 1000;
  }
  5% {
    opacity: 1;
    z-index: 1000;
  }
  15% {
    opacity: 1;
    z-index: 1000;
    transform: translateY(-300px);
  }
  25% {
    opacity: 1;
    z-index: 1000;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    z-index: 1000;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
    z-index: 1000;
    transform: translateY(0);
  }
  80% {
    opacity:1;
    z-index: 1000;
    transform: translateY(0);
  }
  /* 85% {
    transform: scale(1);
    opacity: 1;
  }   */
  85% {
    opacity:1;
    z-index: 1000;
    transform: translateY(0);
  }
  95% {
    opacity: 0;
    z-index: 1000;
  } 
  100% {
    opacity: 0;
    z-index: 1000;
    transform: translateY(-300px);
  }
}
.button_search {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  outline: none;
}
.bg-gray-38383880{
  background-color: #38383880;
}
.compensate-for-scrollbar {
  overflow: hidden;
  margin-right: 15px;
}
.min-h-xl {
  min-height: 400px;
}
.min-w-2xl {
  min-width: 600px;
}
.keen-slider, .keen-slider__slide {
  /* background-color: white; */
}


.label-nho {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-nho input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.label-nho:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-nho input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-nho input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-nho .checkmark:after {
  left: 7px;
  top: 3px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bg-F8F8F8 {
  background-color: #f8f8f8;
}
.css-checkout.reveiew::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
  background-image: radial-gradient(farthest-side,rgba(0,0,0,0) 6px,#f8f8f8 0);
  background-size: 15px 15px;

  top: -10px;
  background-position: -3px -5px,0 0;
}
.css-checkout.reveiew::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
  background-image: radial-gradient(farthest-side,rgba(0,0,0,0) 6px,#f8f8f8 0);
  background-size: 15px 15px;

  bottom: -10px;
  background-position: -3px 2px,0 0;
}
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (max-width: 768px) {
  .shop_table_responsive {
    display: block;
  }
  .shop_table_responsive th, .shop_table_responsive thead {
    display: none;
  }
  .shop_table_responsive tr {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(129,129,129,.2);
  }
  .shop_table_responsive tbody, .shop_table_responsive tfoot, .shop_table_responsive tr {
    display: block;
  }
  .shop_table_responsive td:before {
    content: attr(data-title);
    float: left;
    padding-top: 3px;
    color: #2d2a2a; 
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
  }

  .woocommerce-cart-form__contents tr {
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 115px;
    min-height: 136px;
  }
  th.product-remove {
    width: 40px;
  }
  .woocommerce-cart-form__contents td.product-remove {
    position: absolute;
    top: -7px;
    right: -1px;
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
  .group_table td.product-thumbnail, .woocommerce-cart-form__contents td.product-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: 115px;
    border-bottom: none;
  }
  .woocommerce-cart-form__contents td>* {
    margin-bottom: 5px;
  }
  .woocommerce-cart-form__contents td.product-name {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    text-align: left;
    padding-bottom: 5px;
  }
 
  .woocommerce-cart-form__contents td {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 0;
  }
  .shop_table_responsive td {
    display: block;
    margin-bottom: 8px;
    padding: 0 0 8px;
    border-bottom: none;
    text-align: right;
  }
  .woocommerce-cart-form__contents td {
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }
  .woocommerce-cart-form__contents td.product-thumbnail img {
    min-width: 100px;
    max-width: 100px;
  }
  .woocommerce-cart-form__contents td.product-name>span {
    margin-bottom: 10px;
    padding-right: 30px;
  }
  .woocommerce-cart-form__contents td.product-quantity  {
    display: flex;
  }

}
.size-full {
  width: 100%;
} 
.aligncenter {
  text-align: center;
}
.setting-list.dropdown-toggle::after {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 10px solid;
  border-right: 10px solid transparent;
  border-bottom: 0;
  border-left: 10px solid transparent;
  right: -30px;
  top: 10px;
  position: absolute;
}
.lang-list.dropdown-toggle::after, .pr_list.dropdown-toggle::after{
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 10px solid;
  border-right: 10px solid transparent;
  border-bottom: 0;
  border-left: 10px solid transparent;
  right: 10px;
  top: 15px;
  position: absolute;
}


.mylist-enter {
  opacity: 0;
  transform:   translate(-250px,0);
  transform: translate3d(-250px,0,0);
}

.mylist-enter.mylist-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transform: translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.left-100p {
  left: 100%;
}
.iiz__zoom-img {
  width:1200px !important;
  height:1200px !important;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

  /* border: 1px #666 solid; */

/* .indicators {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 40%;
  left:40%;
}

.each-slideshow-indicator {
  background: #666 !important;
  background-color: #666 !important;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator{
opacity: 1;
}

.each-slideshow-indicator::before {
  background: #fff !important;
  border: 1px #fff solid; 
}

.each-slideshow-indicator:focus {
  background: #666 !important;
} */
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}
label > input[type="radio"]:checked + * {
  color: teal;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
label > input[type="radio"] {
  display: none;
}